{% extends "blog/base.html" %}
{% load static %}
{% block block1 %}
	<head>
    		<title>Portfolio</title>
      		<meta charset="utf-8">
      		<link rel="stylesheet" href="{% static 'login.css' %}">
      		<meta name="viewport" content="width=device-width, initial-scale=1">
      		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	</head>
    <div class="container">
        <div class="row ">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 loginform text-center shadow">
                <img src="{% static 'banner.png' %}"></br></br></br></br>
                  <form  class="lform" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                                <table>
                                <tr>
                                    <td>{{ form.username.label_tag }}</td>
                                    <td>{{ form.username }}</td>
                                </tr>
                                <tr>
                                    <td></br></td>
                                </tr>
                                <tr>
                                    <td>{{ form.password.label_tag }}</td>
                                    <td>{{ form.password }}</td>
                                </tr>
                                </table>
                                {% if form.errors %}
                                    <p>이름과 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
                                {% endif %}
                                </br></br>
                        
                                <button type="submit" value="login" />로그인</button>
                                <input type="hidden" name="next" value="{{ next }}" />
                            </form>
                <br>
                <a href="{% url 'sign_up' %}">회원가입 하기</a>
            </div>
        </div>
    </div>
{% endblock %}